.contact-section{
    width: 100%;
    height: 100vh;
    padding: 1rem 0rem;
}

.contact-container{
    height: 100%;
    margin-top: 0;
    padding: 1rem calc((100vw - 1300px) / 1);
}

.contact-heading{
    margin-top: 3px;
    margin-bottom: 40px;
    font-family: 'Cinzel', serif;
    color: #4b2c03;
    text-align: center;
}

/* .Form-wrap{
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: chocolate;
}

.FormContent{
    height: 100%;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.form{
    height: auto;
    width: 50%;
    z-index: 1;
    display: grid;
    margin:0 auto;
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.form-row{
    margin-top: 10px;
    align-items: center;
}

.form-label{
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 1px;
    font-size: 16px;
    color: #4b2c03;
    font-family: 'Cinzel', serif;
}

.form-input{
    width: 92%;
    padding: 10px 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    border: hidden;
    border-bottom: 1px solid #4b2c03;
    resize: vertical;
    display: grid;
}

.form-input:focus{
    outline: none;
}

.form-textarea{
    width: 92%;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-left: 25px;
    border: hidden;
    border-bottom: 1px solid #4b2c03;
    resize: vertical;
    display: grid;
}

.form-textarea:focus{
    outline: none;
}

.form-button{
    width: 92%;
    background: #4b2c03;
    padding: 10px 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}

@media screen and (max-width: 760px){
    .contact-container{
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
        grid-template-columns: 1fr;
    }

    .Form-wrap{
        height: 60%;
    }

    .FormContent{
        padding: 10px;
        height: 60%;
        width: 100%;
    }

    .form{
        
        margin-top: 0;
        height: 80%;
        width: 100%;
    }

    .form-row{
        margin-top: 4px;
        align-items: center;
    }

    .form-input{
        width: 92%;
        padding: 10px 10px;
        margin-bottom: 5px;
        margin-left: 25px;
    }

    .form-label{
        margin-top: 3px;
        margin-left: 15px;
        margin-bottom: 2px;
        font-size: 14px;
        color: #4b2c03;
        font-family: 'Cinzel', serif;
    }
}